html,
body {
  height: 100%;
  margin: 0;
}
#queryForm {
  position: absolute;
  top: 0;
  height: 100%;
  width: 220px;
  padding: 84px 10px;
  background-color: white;
  /* padding: 20px; */
  /* border-radius: 20px; */
  z-index: 1000;
  /* text-align: left; */
}
#queryForm input {
  width: 90%;
  margin-top: 8px;
  margin: auto;
}
#queryForm label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
#queryForm button {
  font-size: 18px;
  margin: 8px auto;
  color: #fff;
  background-color: black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}
#button {
  width: 100%;
  text-align: center;
}
#map {
  width: 75%;
  height: 100%;
}
.leaflet-container {
  height: 400px;
  width: 75%;
  /* max-width: 100%;
    max-height: 100%; */
}
p {
  margin: 10px 0px !important;
}
